@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

html{
    background-color: #5b6844;
}

#menu-bar{
    position: absolute;
    top:0px;
    width: 100%;
    height: 6%;
    background: #e8ccc3;
    padding-left: 20;
    padding-top: 10;

}

.chonburi-regular {
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30;
  }

.window {
    position: absolute;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
}

.title-bar {
    background: ece8df;
    color: black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid black;
}

.content {
    padding: 10px;
    font-size: 14px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-grid img {
    width: calc(33.33% - 10px); 
    height: 80px;
    object-fit: cover;
}

.content1{
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 90%;            
}

.content1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}


.default-image, .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the images cover the space without distortion */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.hover-image {
    opacity: 0; /* Hide the hover image initially */
}

.content1:hover .hover-image {
    opacity: 1; /* Show the hover image on hover */
}

.content1:hover .default-image {
    opacity: 0; /* Hide the default image on hover */
}

