@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Khand:wght@300;400;500;600;700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8F1EF;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;
    padding-left: 26px;
    background-color: #E9DEDC;
}
  
.nav-button {
    background: none;
    color: #203D87;
    border: 2px solid #E9DEDC;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
    background-color: #203D87;
    color: white;
}

.side-strip {
    position: fixed;
    top: 0px;
    width: 15px; 
    height: 100%;
    background-color: #203D87;
}
  
.side-strip.left {
    left: 0;
}
  
.side-strip.right {
    right: 0;
}

.title {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #0645AD;
    letter-spacing: 2px;
    font-family: 'Fredericka the Great', cursive;
}
  
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 32px;
}
  
.paper {
    width: 300px;
    height: 250px;
    background: #f8f4f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.paper:hover {
    transform: translateY(-10px) rotate(-1deg);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#project1, #project2, #project3, #project4, #project5, #project6, #project7, #project8 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#project1:target, #project2:target, #project3:target, #project4:target, #project5:target, #project6:target, #project7:target, #project8:target {
    display: flex;
}

.project-content {
    background-color: #F8F1EF;
    padding: 20px;
    width: 60%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-content img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.project-content p {
    font-size: 13px;
    color: #333;
    margin-bottom: 20px;
}

.project-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/*DISCUSSION PAGE*/

.discussion-container {
    position: relative;
    width: 100vh;
    height: 100vh;
}

.discussion-post {
    position: absolute;
    width: 70vh;
    height: 150px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    color: #203D87;
    font-size: 14px;
    text-align: center;
}

.post1 {
    top: 5%;
    left: 5%;
}
.post2 {
    top: 6%;
    left: -15%;
}
.post3 {
    top: 40%;
    left: 20%;
}
.post4 {
    top: 35%;
    left: 32%;
}
.post5 {
    top: 60%;
    left: 70%;
}
.post6 {
    top: 70%;
    left: 45%;
}
.post7 {
    top: 20%;
    left: 67%;
}
.post8 {
    top: 80%;
    left: 84%;
}
.post9 {
    top: 61%;
    left: 3%;
}
.post10 {
    top: 60%;
    left: 51%;
}
.post11 {
    top: 85%;
    left: 34%;
}

  