@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #111;
    background: #fff;
    line-height: 1.65;
}

h1, h2 {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}


.about-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 4rem;
    padding: 3rem;
    max-width: 1200px;
    margin: auto;
}


.profile-photo {
    width: 100%;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #666;
}

.edu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.edu-list li {
    margin-bottom: 1rem;
    line-height: 1.4;
    font-size: 0.9rem;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(56px, max-content));
    gap: 0.75rem;
    margin-top: 1rem;
}

.tool-box {
    width: 56px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 14px;
    overflow: hidden;

    transition: transform 0.2s ease;
}

.tool-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tool-box:hover {
    transform: translateY(-4px);
    background: #eaeaea;
}

.resume-btn {
    display: inline-block;
    padding: .6rem 1rem;
    border: 1px solid #000;
    border-radius: 8px;
    text-decoration: none;
    font-size: .9rem;
    color: #000;
}

.resume-btn:hover {
    background: #000;
    color: #fff;
}

.about-right h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.about-right p {
    max-width: 650px;
    line-height: 1.6;
    margin-bottom: 0.9rem;
    font-size: 0.9rem;
}

.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.hobby img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}